swagger: '2.0'
info:
  version: 1.1.0
  title: Wrike
  description: |-
    A homebrew Swagger 2 Api for Wrike.
    Meant for Power Automate.
host: www.wrike.com
basePath: /
schemes:
  - https
consumes: []
produces:
  - application/json
paths:
  /api/v4/folders/{folderId}/folders:
    get:
      summary: Get Folder Tree From Folder
      description: Get Folder Tree From Folder
      operationId: GetFolderTreeFromFolder
      parameters:
        - name: permalink
          in: query
          type: string
          required: false
        - name: descendants
          in: query
          type: boolean
          required: false
        - name: metadata
          in: query
          type: string
          required: false
        - name: customField
          in: query
          type: string
          required: false
        - name: updatedDate
          in: query
          type: string
          required: false
        - name: project
          in: query
          type: boolean
          required: false
        - name: plainTextCustomFields
          in: query
          type: boolean
          required: false
        - name: fields
          in: query
          type: array
          required: false
          items:
            type: string
            enum:
              - metadata
              - hasAttachments
              - attachmentCount
              - description
              - briefDescription
              - customFields
              - customColumnIds
              - superParentIds
              - space
              - contractType
              - customItemTypeId
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    title:
                      type: string
                      description: title
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                    project:
                      type: object
                      properties:
                        authorId:
                          type: string
                          description: authorId
                        ownerIds:
                          type: array
                          items: {}
                          description: ownerIds
                        status:
                          type: string
                          description: status
                        customStatusId:
                          type: string
                          description: customStatusId
                        startDate:
                          type: string
                          description: startDate
                        endDate:
                          type: string
                          description: endDate
                        createdDate:
                          type: string
                          description: createdDate
                        completedDate:
                          type: string
                          description: completedDate
                      description: project
                description: data
      x-ms-openai-data:
        openai-enabled: false
        operations:
          - operationId: GetFolderTreeFromFolder
            x-ms-require-user-confirmation: false
    post:
      summary: Create Folder
      description: Create Folder
      operationId: CreateFolder
      parameters:
        - name: title
          in: query
          type: string
          required: true
        - name: customFields
          in: query
          type: string
          required: true
        - name: project
          in: query
          type: boolean
          required: true
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    description:
                      type: string
                      description: description
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    scope:
                      type: string
                      description: scope
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    workflowId:
                      type: string
                      description: workflowId
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                    project:
                      type: object
                      properties:
                        authorId:
                          type: string
                          description: authorId
                        ownerIds:
                          type: array
                          items:
                            type: string
                          description: ownerIds
                        status:
                          type: string
                          description: status
                        startDate:
                          type: string
                          description: startDate
                        endDate:
                          type: string
                          description: endDate
                        createdDate:
                          type: string
                          description: createdDate
                      description: project
                description: data
  /api/v4/folders/{folderId}/tasks:
    get:
      summary: Get Tasks
      description: Collects all tasks from a wrike folder or project
      operationId: GetTasks
      parameters:
        - name: descendants
          in: query
          type: boolean
          required: true
        - name: subTasks
          in: query
          type: boolean
          required: true
        - name: pageSize
          default: 1000
          in: query
          type: integer
          required: true
        - name: nextPageToken
          in: query
          type: string
          required: true
        - name: fields
          in: query
          type: array
          required: true
          items:
            type: string
            enum:
              - metadata
              - hasAttachments
              - attachmentCount
              - description
              - briefDescription
              - customFields
              - customColumnIds
              - superParentIds
              - space
              - contractType
              - customItemTypeId
        - name: customField
          in: query
          type: string
          required: true
        - name: status
          in: query
          type: string
          enum:
            - Active
            - Completed
            - Deferred
            - Cancelled
          required: true
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    attachmentCount:
                      type: string
                      description: attachmentCount
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                description: data
    post:
      summary: Create Task
      description: Create Task
      operationId: CreateTask
      parameters:
        - name: title
          in: query
          type: string
          required: true
        - name: description
          in: query
          type: string
          required: true
        - name: customStatus
          in: query
          type: string
          required: true
        - name: customFields
          in: query
          type: string
          required: true
        - name: dates
          in: query
          type: string
          required: true
        - name: responsibles
          in: query
          type: string
          required: true
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    superParentIds:
                      type: array
                      items:
                        type: string
                      description: superParentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    responsibleIds:
                      type: array
                      items:
                        type: string
                      description: responsibleIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                        duration:
                          type: string
                          description: duration
                        start:
                          type: string
                          description: start
                        due:
                          type: string
                          description: due
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    attachmentCount:
                      type: string
                      description: attachmentCount
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                    followedByMe:
                      type: string
                      description: followedByMe
                    followerIds:
                      type: array
                      items:
                        type: string
                      description: followerIds
                    superTaskIds:
                      type: array
                      items:
                        type: string
                      description: superTaskIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                description: data
  /api/v4/folders/{folderId}/comments:
    post:
      summary: Create Comment On Folder
      description: Create Comment On Folder
      operationId: CreateCommentOnFolder
      parameters:
        - name: text
          in: query
          type: string
          required: true
        - name: plainText
          default: 'false'
          in: query
          type: string
          required: true
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties: {}
  /api/v4/folders/{folderId}/webhooks:
    x-ms-notification-content:
      schema: {}
      description: Fired when a folder is changed
    post:
      x-ms-trigger: single
      summary: On Folder Change
      description: On Folder Change
      operationId: OnFolderChange
      parameters:
        - name: folderId
          in: path
          type: string
          required: true
        - name: Content-Type
          in: header
          required: true
          type: string
          default: application/json
          description: Content-Type
        - name: body
          in: body
          schema:
            type: object
            properties:
              hookUrl:
                type: string
                description: hookUrl
                x-ms-notification-url: true
                x-ms-visibility: internal
              events:
                type: array
                items:
                  type: string
                  enum:
                    - TaskCreated
                    - TaskDeleted
                    - TaskTitleChanged
                    - TaskImportanceChanged
                    - TaskStatusChanged
                    - TaskDatesChanged
                    - TaskParentsAdded
                    - TaskParentsRemoved
                    - TaskResponsiblesAdded
                    - TaskResponsiblesRemoved
                    - TaskSharedsAdded
                    - TaskSharedsRemoved
                    - TaskDescriptionChanged
                    - TaskCustomFieldChanged
                    - AttachmentAdded
                    - AttachmentDeleted
                    - CommentAdded
                    - CommentDeleted
                    - CreateFromBlueprintCompleted
                    - TimelogChanged
                    - FolderCreated
                    - FolderDeleted
                    - FolderTitleChanged
                    - FolderParentsAdded
                    - FolderParentsRemoved
                    - FolderSharedsAdded
                    - FolderSharedsRemoved
                    - FolderDescriptionChanged
                    - FolderCommentAdded
                    - FolderCommentDeleted
                    - FolderAttachmentAdded
                    - FolderAttachmentDeleted
                    - FolderCustomFieldChanged
                    - ProjectDatesChanged
                    - ProjectOwnersAdded
                    - ProjectOwnersRemoved
                    - ProjectStatusChanged
                    - TaskApprovalStatusChanged
                    - TaskApprovalDecisionChanged
                    - TaskApprovalDecisionReset
                    - FolderApprovalStatusChanged
                    - FolderApprovalDecisionChanged
                    - FolderApprovalDecisionReset
                    - WorkItemTypeChanged
                description: events
              recursive:
                type: boolean
                description: recursive
            required:
              - hookUrl
            default:
              hookUrl: <string>
              events:
                - <string>
                - <string>
              recursive: true
          required: true
      responses:
        '200':
          description: '200'
          schema:
            type: string
  /api/v4/folders/{folderId}:
    get:
      summary: GetFolder
      description: GetFolder
      operationId: GetFolder
      parameters:
        - name: folderId
          in: path
          type: array
          items:
            type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    briefDescription:
                      type: string
                      description: briefDescription
                    description:
                      type: string
                      description: description
                    color:
                      type: string
                      description: color
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    workflowId:
                      type: string
                      description: workflowId
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                    project:
                      type: object
                      properties:
                        authorId:
                          type: string
                          description: authorId
                        ownerIds:
                          type: array
                          items:
                            type: string
                          description: ownerIds
                        status:
                          type: string
                          description: status
                        startDate:
                          type: string
                          description: startDate
                        endDate:
                          type: string
                          description: endDate
                        createdDate:
                          type: string
                          description: createdDate
                      description: project
                description: data
    delete:
      summary: Delete Folder
      description: >-
        Move folder and all descendant folders and tasks to Recycle Bin unless
        they have parents outside of deletion scope.
      operationId: DeleteFolder
      parameters:
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    description:
                      type: string
                      description: description
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    workflowId:
                      type: string
                      description: workflowId
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                    project:
                      type: object
                      properties:
                        authorId:
                          type: string
                          description: authorId
                        ownerIds:
                          type: array
                          items:
                            type: string
                          description: ownerIds
                        customStatusId:
                          type: string
                          description: customStatusId
                        startDate:
                          type: string
                          description: startDate
                        endDate:
                          type: string
                          description: endDate
                        createdDate:
                          type: string
                          description: createdDate
                      description: project
                description: data
    put:
      summary: ModifyFolder
      description: ModifyFolder
      operationId: ModifyFolder
      parameters:
        - name: title
          in: query
          type: string
          required: true
        - name: description
          in: query
          type: string
          required: true
        - name: customFields
          in: query
          type: string
          required: true
        - name: project
          in: query
          type: string
          required: true
        - name: addParents
          in: query
          type: string
          required: true
        - name: removeParents
          in: query
          type: string
          required: true
        - name: addShareds
          in: query
          type: string
          required: true
        - name: removeShareds
          in: query
          type: string
          required: true
        - name: folderId
          in: path
          type: array
          items:
            type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    description:
                      type: string
                      description: description
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    workflowId:
                      type: string
                      description: workflowId
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                    project:
                      type: object
                      properties:
                        authorId:
                          type: string
                          description: authorId
                        ownerIds:
                          type: array
                          items:
                            type: string
                          description: ownerIds
                        status:
                          type: string
                          description: status
                        startDate:
                          type: string
                          description: startDate
                        endDate:
                          type: string
                          description: endDate
                        createdDate:
                          type: string
                          description: createdDate
                      description: project
                description: data
  /api/v4/folders:
    get:
      summary: Get Folder Tree
      description: Get Folder Tree
      operationId: GetFolderTree
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
        - name: permalink
          in: query
          type: string
        - name: descendants
          in: query
          type: boolean
          required: false
        - name: metadata
          in: query
          type: string
          required: false
        - name: customField
          in: query
          type: string
          required: false
        - name: updatedDate
          in: query
          type: string
          required: false
        - name: project
          in: query
          type: boolean
          required: false
        - name: plainTextCustomFields
          in: query
          type: boolean
          required: false
        - name: fields
          in: query
          type: array
          required: false
          items:
            type: string
            enum:
              - metadata
              - hasAttachments
              - attachmentCount
              - description
              - briefDescription
              - customFields
              - customColumnIds
              - superParentIds
              - space
              - contractType
              - customItemTypeId
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    superParentIds:
                      type: array
                      items:
                        type: string
                      description: superParentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    responsibleIds:
                      type: array
                      items:
                        type: string
                      description: responsibleIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                        duration:
                          type: string
                          description: duration
                        start:
                          type: string
                          description: start
                        due:
                          type: string
                          description: due
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    attachmentCount:
                      type: string
                      description: attachmentCount
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                    superTaskIds:
                      type: array
                      items:
                        type: string
                      description: superTaskIds
                    subTaskIds:
                      type: array
                      items:
                        type: string
                      description: subTaskIds
                    dependencyIds:
                      type: array
                      items:
                        type: string
                      description: dependencyIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                description: data
  /api/v4/customfields:
    get:
      summary: Get Custom Fields
      description: Get Custom Fields
      operationId: GetCustomFields
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    type:
                      type: string
                      description: type
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    settings:
                      type: object
                      properties:
                        inheritanceType:
                          type: string
                          description: inheritanceType
                        decimalPlaces:
                          type: string
                          description: decimalPlaces
                        useThousandsSeparator:
                          type: string
                          description: useThousandsSeparator
                        aggregation:
                          type: string
                          description: aggregation
                      description: settings
                description: data
  /api/v4/workflows/{workflowId}:
    post:
      summary: Modify Workflow
      description: Update workflow or custom statuses.
      operationId: ModifyWorkflow
      parameters:
        - name: customStatus
          in: query
          type: string
          required: true
        - name: workflowId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    name:
                      type: string
                      description: name
                    standard:
                      type: string
                      description: standard
                    hidden:
                      type: string
                      description: hidden
                    customStatuses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          name:
                            type: string
                            description: name
                          standardName:
                            type: string
                            description: standardName
                          color:
                            type: string
                            description: color
                          standard:
                            type: string
                            description: standard
                          group:
                            type: string
                            description: group
                          hidden:
                            type: string
                            description: hidden
                      description: customStatuses
                description: data
  /api/v4/workflows:
    get:
      summary: Get Workflows
      description: Get Workflows
      operationId: GetWorkflows
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    name:
                      type: string
                      description: name
                    standard:
                      type: string
                      description: standard
                    hidden:
                      type: string
                      description: hidden
                    customStatuses:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          name:
                            type: string
                            description: name
                          standardName:
                            type: string
                            description: standardName
                          color:
                            type: string
                            description: color
                          standard:
                            type: string
                            description: standard
                          group:
                            type: string
                            description: group
                          hidden:
                            type: string
                            description: hidden
                      description: customStatuses
                description: data
  /api/v4/copy_folder/{folderId}:
    post:
      summary: CopyFolder
      description: CopyFolder
      operationId: CopyFolder
      parameters:
        - name: parent
          in: query
          type: string
          required: true
        - name: title
          in: query
          type: string
          required: true
        - name: folderId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    description:
                      type: string
                      description: description
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    workflowId:
                      type: string
                      description: workflowId
                description: data
  /api/v4/tasks/{taskId}/comments:
    post:
      summary: Create Comment On Task
      description: Create Comment On Task
      operationId: CreateCommentOnTask
      parameters:
        - name: text
          in: query
          type: string
          required: true
        - name: plainText
          default: 'false'
          in: query
          type: string
          required: true
        - name: taskId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties: {}
  /api/v4/tasks/{taskId}:
    get:
      summary: GetTasksByTask
      description: GetTasksByTask
      operationId: GetTasksByTask
      parameters:
        - name: taskId
          in: path
          type: array
          required: true
          items:
            type: string
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    superParentIds:
                      type: array
                      items:
                        type: string
                      description: superParentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    responsibleIds:
                      type: array
                      items:
                        type: string
                      description: responsibleIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                        duration:
                          type: string
                          description: duration
                        start:
                          type: string
                          description: start
                        due:
                          type: string
                          description: due
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                    followedByMe:
                      type: string
                      description: followedByMe
                    followerIds:
                      type: array
                      items:
                        type: string
                      description: followerIds
                    superTaskIds:
                      type: array
                      items:
                        type: string
                      description: superTaskIds
                    subTaskIds:
                      type: array
                      items:
                        type: string
                      description: subTaskIds
                    dependencyIds:
                      type: array
                      items:
                        type: string
                      description: dependencyIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                description: data
    delete:
      summary: Delete Task
      description: Delete task by Id.
      operationId: DeleteTask
      parameters:
        - name: taskId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    responsibleIds:
                      type: array
                      items:
                        type: string
                      description: responsibleIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                        duration:
                          type: string
                          description: duration
                        start:
                          type: string
                          description: start
                        due:
                          type: string
                          description: due
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    attachmentCount:
                      type: string
                      description: attachmentCount
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                    followedByMe:
                      type: string
                      description: followedByMe
                    followerIds:
                      type: array
                      items:
                        type: string
                      description: followerIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                description: data
    put:
      summary: ModifyTasks
      description: ModifyTasks
      operationId: ModifyTasks
      parameters:
        - name: title
          in: query
          type: string
          required: true
        - name: description
          in: query
          type: string
          required: true
        - name: addParents
          in: query
          type: string
          required: true
        - name: removeParents
          in: query
          type: string
          required: true
        - name: addResponsibles
          in: query
          type: string
          required: true
        - name: removeResponsibles
          in: query
          type: string
          required: true
        - name: customFields
          in: query
          type: string
          required: true
        - name: customStatus
          in: query
          type: string
          required: true
        - name: dates
          in: query
          type: string
          required: true
        - name: taskId
          in: path
          type: array
          items:
            type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                    briefDescription:
                      type: string
                      description: briefDescription
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    superParentIds:
                      type: array
                      items:
                        type: string
                      description: superParentIds
                    sharedIds:
                      type: array
                      items:
                        type: string
                      description: sharedIds
                    responsibleIds:
                      type: array
                      items:
                        type: string
                      description: responsibleIds
                    status:
                      type: string
                      description: status
                    importance:
                      type: string
                      description: importance
                    createdDate:
                      type: string
                      description: createdDate
                    updatedDate:
                      type: string
                      description: updatedDate
                    dates:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                        duration:
                          type: string
                          description: duration
                        start:
                          type: string
                          description: start
                        due:
                          type: string
                          description: due
                      description: dates
                    scope:
                      type: string
                      description: scope
                    authorIds:
                      type: array
                      items:
                        type: string
                      description: authorIds
                    customStatusId:
                      type: string
                      description: customStatusId
                    hasAttachments:
                      type: string
                      description: hasAttachments
                    attachmentCount:
                      type: string
                      description: attachmentCount
                    permalink:
                      type: string
                      description: permalink
                    priority:
                      type: string
                      description: priority
                    followedByMe:
                      type: string
                      description: followedByMe
                    followerIds:
                      type: array
                      items:
                        type: string
                      description: followerIds
                    superTaskIds:
                      type: array
                      items:
                        type: string
                      description: superTaskIds
                    dependencyIds:
                      type: array
                      items:
                        type: string
                      description: dependencyIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: id
                          value:
                            type: string
                            description: value
                      description: customFields
                description: data
  /api/v4/tasks/{taskid}/attachments:
    post:
      summary: Add Attachment To Task
      description: Add Attachment To Task
      operationId: AddAttachmentToTask
      parameters:
        - name: taskid
          in: path
          type: string
          required: true
        - name: X-Requested-With
          in: header
          required: true
          type: string
          default: XMLHttpRequest
          description: X-Requested-With
        - name: X-File-Name
          in: header
          required: true
          type: string
          description: X-File-Name
        - name: Content-Type
          in: header
          required: true
          type: string
          default: application/json
          description: Content-Type
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties: {}
  /api/v4/tasks:
    get:
      summary: GetAllTasks
      description: GetAllTasks
      operationId: GetAllTasks
      parameters:
        - name: fields
          in: query
          type: array
          required: true
          items:
            type: string
            enum:
              - metadata
              - hasAttachments
              - attachmentCount
              - description
              - briefDescription
              - customFields
              - customColumnIds
              - superParentIds
              - space
              - contractType
              - customItemTypeId
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties: {}
  /api/v4/groups:
    get:
      summary: Query Groups
      description: Query Groups
      operationId: QueryGroups
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    title:
                      type: string
                      description: title
                    memberIds:
                      type: array
                      items:
                        type: string
                      description: memberIds
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    parentIds:
                      type: array
                      items:
                        type: string
                      description: parentIds
                    avatarUrl:
                      type: string
                      description: avatarUrl
                description: data
  /api/v4/users/contacts:
    get:
      summary: GetContacts
      description: GetContacts
      operationId: GetContacts
      parameters:
        - name: me
          in: query
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    firstName:
                      type: string
                      description: firstName
                    lastName:
                      type: string
                      description: lastName
                    type:
                      type: string
                      description: type
                    profiles:
                      type: array
                      items:
                        type: object
                        properties:
                          accountId:
                            type: string
                            description: accountId
                          role:
                            type: string
                            description: role
                          external:
                            type: string
                            description: external
                          admin:
                            type: string
                            description: admin
                          owner:
                            type: string
                            description: owner
                          email:
                            type: string
                            description: email
                      description: profiles
                    avatarUrl:
                      type: string
                      description: avatarUrl
                    timezone:
                      type: string
                      description: timezone
                    locale:
                      type: string
                      description: locale
                    deleted:
                      type: boolean
                      description: deleted
                    memberIds:
                      type: array
                      items:
                        type: string
                      description: memberIds
                    metadata:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: key
                          value:
                            type: string
                            description: value
                      description: metadata
                    me:
                      type: string
                      description: me
                    phone:
                      type: string
                      description: phone
                description: data
  /api/v4/comments:
    get:
      summary: Get Comments
      description: Get all comments in current account.
      operationId: GetComments
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    authorId:
                      type: string
                      description: authorId
                    text:
                      type: string
                      description: text
                    updatedDate:
                      type: string
                      description: updatedDate
                    createdDate:
                      type: string
                      description: createdDate
                    taskId:
                      type: string
                      description: taskId
                    folderId:
                      type: string
                      description: folderId
                description: data
  /api/v4/access_roles:
    get:
      summary: Get Access Roles
      description: Get Access Roles
      operationId: GetAccessRoles
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    title:
                      type: string
                      description: title
                    description:
                      type: string
                      description: description
                description: data
  /api/v4/folder_blueprints/{folder_blueprintId}/launch_async:
    post:
      summary: Folder Blueprint Launch Async
      description: Folder Blueprint Launch Async
      operationId: FolderBlueprintLaunchAsync
      parameters:
        - name: parent
          in: query
          type: string
          required: true
        - name: title
          in: query
          type: string
          required: true
        - name: titlePrefix
          in: query
          type: string
          required: true
        - name: copyDescriptions
          default: 'true'
          in: query
          type: string
          required: true
        - name: notifyResponsibles
          default: 'true'
          in: query
          type: string
          required: true
        - name: copyResponsibles
          default: 'true'
          in: query
          type: string
          required: true
        - name: copyCustomFields
          default: 'true'
          in: query
          type: string
          required: true
        - name: copyAttachments
          default: 'true'
          in: query
          type: string
          required: true
        - name: rescheduleDate
          default: <date>
          in: query
          type: string
          required: true
        - name: rescheduleMode
          default: End
          in: query
          type: string
          required: true
        - name: folder_blueprintId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    status:
                      type: string
                      description: status
                    progressPercent:
                      type: string
                      description: progressPercent
                    type:
                      type: string
                      description: type
                description: data
  /api/v4/folder_blueprints:
    get:
      summary: Get Folder Blueprints tree
      description: Get Folder Blueprints tree
      operationId: GetFolderBlueprintsTree
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    title:
                      type: string
                      description: title
                    childIds:
                      type: array
                      items:
                        type: string
                      description: childIds
                    scope:
                      type: string
                      description: scope
                description: data
  /api/v4/async_job/{async_jobId}:
    get:
      summary: Get async job
      description: Get async job
      operationId: GetAsyncJob
      parameters:
        - name: async_jobId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    status:
                      type: string
                      description: status
                    progressPercent:
                      type: string
                      description: progressPercent
                    totalCount:
                      type: string
                      description: totalCount
                    processedCount:
                      type: string
                      description: processedCount
                    type:
                      type: string
                      description: type
                    result:
                      type: object
                      properties:
                        folderId:
                          type: string
                          description: folderId
                      description: result
                description: data
  /api/v4/webhooks/{webhookId}:
    delete:
      summary: Delete Webhook
      description: Deletes webhook by ID.
      operationId: DeleteWebhook
      parameters:
        - name: webhookId
          in: path
          type: string
          required: true
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties: {}
  /api/v4/webhooks:
    x-ms-notification-content: {}
    post:
      x-ms-trigger: single
      summary: On Account Change
      description: On Account Change
      operationId: OnAccountChange
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          default: application/json
          description: Content-Type
        - name: body
          in: body
          schema:
            type: object
            properties:
              hookUrl:
                type: string
                description: hookUrl
                x-ms-notification-url: true
                x-ms-visibility: internal
              events:
                type: array
                items:
                  type: string
                  enum:
                    - TaskCreated
                    - TaskDeleted
                    - TaskTitleChanged
                    - TaskImportanceChanged
                    - TaskStatusChanged
                    - TaskDatesChanged
                    - TaskParentsAdded
                    - TaskParentsRemoved
                    - TaskResponsiblesAdded
                    - TaskResponsiblesRemoved
                    - TaskSharedsAdded
                    - TaskSharedsRemoved
                    - TaskDescriptionChanged
                    - TaskCustomFieldChanged
                    - AttachmentAdded
                    - AttachmentDeleted
                    - CommentAdded
                    - CommentDeleted
                    - CreateFromBlueprintCompleted
                    - TimelogChanged
                    - FolderCreated
                    - FolderDeleted
                    - FolderTitleChanged
                    - FolderParentsAdded
                    - FolderParentsRemoved
                    - FolderSharedsAdded
                    - FolderSharedsRemoved
                    - FolderDescriptionChanged
                    - FolderCommentAdded
                    - FolderCommentDeleted
                    - FolderAttachmentAdded
                    - FolderAttachmentDeleted
                    - FolderCustomFieldChanged
                    - ProjectDatesChanged
                    - ProjectOwnersAdded
                    - ProjectOwnersRemoved
                    - ProjectStatusChanged
                    - TaskApprovalStatusChanged
                    - TaskApprovalDecisionChanged
                    - TaskApprovalDecisionReset
                    - FolderApprovalStatusChanged
                    - FolderApprovalDecisionChanged
                    - FolderApprovalDecisionReset
                    - WorkItemTypeChanged
                description: events
              recursive:
                type: boolean
                description: recursive
            required:
              - hookUrl
            default:
              hookUrl: <string>
              events:
                - <string>
                - <string>
              recursive: true
          required: true
      responses:
        '200':
          description: '200'
          schema:
            type: string
  /api/v4/webhooks/:
    get:
      summary: Get Webhooks
      description: Get Webhooks
      operationId: GetWebhooks
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          default: '*/*'
          description: Accept
      responses:
        '500':
          description: '500'
          schema:
            type: object
            properties:
              kind:
                type: string
                description: kind
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    accountId:
                      type: string
                      description: accountId
                    hookUrl:
                      type: string
                      description: hookUrl
                    status:
                      type: string
                      description: status
                    folderId:
                      type: string
                      description: folderId
                    events:
                      type: array
                      items:
                        type: string
                      description: events
                    recursive:
                      type: string
                      description: recursive
                description: data
definitions:
  customField:
    properties:
      id:
        type: integer
      comparator:
        type: string
        enum:
          - EqualTo
          - IsEmpty
          - IsNotEmpty
          - LessThan
          - LessOrEqualTo
          - GreaterThan
          - GreaterOrEqualTo
          - InRange
          - NotInRange
          - Contains
          - StartsWith
          - EndsWith
          - ContainsAll
          - ContainsAny
      value:
        type: string
      minValue:
        type: string
      maxValue:
        type: string
      values:
        type: array
        items:
          type: string
    required:
      - id
parameters: {}
responses: {}
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://login.wrike.com/oauth2/authorize/v4
    tokenUrl: https://login.wrike.com/oauth2/token
    scopes: {}
security:
  - oauth2-auth: []
tags: []
